<h2 class="info_part__concerts-container__order-info-container__h2">Ваш заказ успешно забронирован</h2>
<a href="#/concerts" class="info_part__concerts-container__order-info-container__buttonToRedirect">
  Вернуться к списку концертов
</a>
