<div class="info_part__concerts-container">
  <a href="#/concerts" class="info_part__concerts-container__button-to-concerts-list">
      Вернуться к списку концертов
  </a>
  <h1 class="info_part__concerts-container__h1">Пожалуйста, оформите новое бронирование</h1>
</div>
