<div class="info_part__concerts-container">
  <h1 class="info_part__concerts-container__h1">Admin Page</h1>
  <div class="info_part__concerts-container__order-info-container">
    <h1 class="info_part__concerts-container__h1">Добавление нового концерта</h1>
    <form class="info_part__concerts-container__order-info-container__form add-form">
      <label for="title">Название исполнителя</label>
      <input id="title" type="text">
      <br>
      <label for="date">Дата</label>
      <input id="date" type="text">
      <br>
      <label for="place">Место</label>
      <input id="place" type="text">
      <br>
      <label for="description">Описание</label>
      <input id="description" type="text">
      <br>
      <label for="imgUrl">Ссылка на изображение</label>
      <input id="imgUrl" type="text">
      <br>
      <label for="dancefloorDescription">Описание танцпола</label>
      <input id="dancefloorDescription" type="text">
      <br>
      <label for="danceFloorQuantity">Количество мест на танцполе</label>
      <input id="danceFloorQuantity" type="text">
      <br>
      <label for="danceFloorPrice">Цена (танцпол)</label>
      <input id="danceFloorPrice" type="text">
      <br>
      <label for="tableSeatsDescription">Описание столиков</label>
      <input id="tableSeatsDescription" type="text">
      <br>
      <label for="tableSeatsQuantity">Количество столико-мест</label>
      <input id="tableSeatsQuantity" type="text">
      <br>
      <label for="tableSeatsPrice">Цена (столика)</label>
      <input id="tableSeatsPrice" type="text">
      <button type="submit" class="info_part__concerts-container__order-info-container__form__admin-button-confirm add-button">
        Добавить
      </button>
    </form>
    <h1 class="info_part__concerts-container__h1">Удаление концерта</h1>
    <form class="info_part__concerts-container__order-info-container__form remove-form">
      <label for="concertId">ID концерта</label>
      <input id="concertId" type="text">
      <br>
      <button type="submit" class="info_part__concerts-container__order-info-container__form__admin-button-confirm remove-button">
        Удалить
      </button>
    </form>
    <h1 class="info_part__concerts-container__h1">Уже уходишь? Не забудь нажать на кнопку ниже!</h1>
    <div class="info_part__concerts-container__admin-log-out-button">
      Log out
    </div>
  </div>
</div>
