<div class="info_part__top">
<div class="info_part__top__text">
  <h1>Наши концерты<br><span class="lang_c">В Европе</span><br></h1>
</div>
<div class="info_part__form">
  <a href="#/concerts" class="header__concert_button1 info_part__form__button_mobile">
    Выбрать концерт
  </a>
  <form class="contact-form">
    <fieldset>
      <legend>Свяжитесь с нами</legend>
      <input class="form-name" type="text" placeholder="Имя">
      <input class="form-tel" type="text" placeholder="Телефон">
      <input class="form-email" type="text" placeholder="Email">
      <h3>Или позвоните по номеру <span class="number"><br><br>+48 555 55 55</span></h3>
    </fieldset>
    <button type="submit" class="info_part__form__buttonsubmit">Отправить</button>
  </form>
</div>
</div>
<div class="info_part2">
<div class="info_part2__div">
  <h1 class="info_part2__div_h1">  Кто мы?</h1>
  <div class="info_part2__info">
    Мы фирма блаблабла, любители блаблабла, несем в этом мир блаблабла и хотим чтобы вы блаблабла, многолетний опыт организации блаблабла. Вдохновились блаблабла. Предоставляем наивысший блаблабла. Ждём Вас блаблабла.
  </div>
</div>
<div class="info_part2__button_block">
  <a href="#/concerts" class="info_part2__concert_button2 button_normal_hover">
    Выбрать концерт
  </a>
</div>
</div>
